body {
padding: 10px;
margin: 0;
}
.book-cover {
width: 83px;
height: 90px;
background: url("bookCover.jpg") 0 0/contain no-repeat;
font-size: 11px;
color: white;
padding: 20px 5px;
text-align: center;
margin: 9px 12px;
}
#output {
margin: 30px;
border: 2px solid black;
width: 300px;
height: 300px;
}
#bookcase {
padding: 15px 0px 0px 13px;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
height: 100vh;
min-width: 260px;
position: relative;
left: 20px;
background: url("bookshelf2.jpg");
overflow: hidden;
}
#user-input {
float: left;
width: 200px;
text
}
h1 {
margin: 20px 5px;
}